
/* button show */
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    height: 100vh;
    display: flex;
    flex-direction: column;
   
  }
  .nav{
    display: flex;
    margin: auto;
  }

  .btn{
    padding: 12px 20px;
    border-radius: 999px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
  }

  .btn +.btn{
    margin-left: 16px;
  }

  .btn--success{
    background-color:#71be35 ;
    color: #fff;
  }
  .btn--success:hover{
  background-color: #94df9f8f;
}

  .btn--warn{
  background-color:#ffb700 ;
  color: #fff;
}
.btn--error{
  background-color:#ff9900 ;
  color: #fff;
}
.btn--error:hover{
    background-color: #ed6c4c8f;
  }

/* slide animation */
#toast{
    position: relative;
    position: fixed;
    top: 32px;
    right: 32px;
}

.toast{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 10px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid #000;
    box-shadow: 0 5px 8px rgba(0,0,0,0.08);
    width: 600px;
    /* justify-content: space-around; */
    margin: auto;
    transition: all linear .3s;
    
}
/* animaiton */
@keyframes slideInLeft{
    form {
        opacity: 0;
        /* slide */
    transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
    transform: translateX(0);
    }
}
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast +.toast{
    margin-top: 24px;
}
.toast__icon{
    font-size: 25px;
}
.toast__icon,
.toast__closed{
    padding: 0 16px;
}
.toast__body{
flex-grow: 1;
}
.toast__title{
    font-size: 16px;
    font-weight: 600;
    color: #333;

}
.toast__msg{
    font-size: 14px;
    font-weight: 600;
    color: #888;
    line-height: 1.6;
}
.toast__closed{
    font-size: 25px;
    color: rgba(0,0,0,0.3);
    cursor: pointer;
}

.toast--success{
    border-color: #48d463;
}
.toast--success .toast__icon{
    color: #48d463;
}

.toast--info{ 
    border-color:#3087eb; 
}
.toast--info .toast__icon{
    color: #3087eb; 
}
.toast--warning{
    border-color: #ffc023 ;
}
.toast--warning .toast__icon{
    color:#ffc023 ;
}
.toast--error{  
    border-color: #ff450c;
}
.toast--error .toast__icon{
    color:#ff450c;
}

